/net/ @sago2k8
/license/ @redpanda-data/k8s
/proto/ @birdayz @weeco
/redpanda-otel-exporter/ @redpanda-data/team-ai
/secrets/ @tomasz-sadura
/rpadmin/ @andrewstucki @r-vasquez
/rpsr/ @r-vasquez
/kvstore/ @birdayz
/api/ @sago2k8 @weeco
/kube/ @redpanda-data/k8s
/authz/ @redpanda-data/team-ai
/licenseupdater/ @redpanda-data/k8s
/alias/ @redpanda-data/k8s
/goldenfile/ @redpanda-data/k8s
/rp-controller-gen/ @redpanda-data/k8s
/rp-controller-utils/ @redpanda-data/k8s
/otelutil/ @redpanda-data/k8s
/kube/example/ @redpanda-data/k8s
/protoc-gen-go-sr-normalize/ @birdayz
