/net/ @sago2k8
/license/ @andrewstucki
/proto/ @birdayz @weeco
/redpanda-otel-exporter/ @birdayz @weeco @rockwotj
/secrets/ @tomasz-sadura
/rpadmin/ @andrewstucki @r-vasquez
/rpsr/ @r-vasquez
/kvstore/ @birdayz
/api/ @sago2k8 @weeco
/kube/ @andrewstucki @RafalKorepta @chrisseto
/authz/ @rockwotj
/licenseupdater/ @andrewstucki
/alias/ @andrewstucki @RafalKorepta @chrisseto
/goldenfile/ @andrewstucki @RafalKorepta @chrisseto
/rp-controller-gen/ @andrewstucki @RafalKorepta @chrisseto
/rp-controller-utils/ @andrewstucki @RafalKorepta @chrisseto
/otelutil/ @andrewstucki @RafalKorepta @chrisseto
/kube/example/ @andrewstucki